
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.name, Welcome to Zero Hunger</h2>
<a href="#" class="btn btn-warning">
    Collector Finding @if (ViewBag.collectorFindingrequestcount != null)
    {<span class="badge">@ViewBag.collectorFindingrequestcount</span>}
</a>

<a href="/Collector/collectPending" class="btn btn-warning">
    Collectect Pending @if (ViewBag.collectorAcceptRequestCount != null)
    {<span class="badge">@ViewBag.collectorAcceptRequestCount</span>}
</a>
<a href="/Home/Signout" class="btn btn-info">Signout</a><br /><br />
<hr />

<h6>Collect Requests </h6>
@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Request ID</th>
                <th>Food Type</th>
                <th>Preferred Collect Time</th>
                <th>Pick-up Location</th>
                <th>Status Type</th>
                <th>Check</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.foodType</td>
                <td>@item.preferredCollectTime.ToString("h:mm tt")</td>
                <td>@item.pickUpLocation</td>
                <td>@item.statusType</td>
                <td>
                    <a href="@Url.Action("detailsFoodRequest","Collector", new { restaurant_id = item.retaurantID, fcr_id = item.id })" class="btn btn-secondary">Details</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No food collect requests available.</p>
}


