
@{
    ViewBag.Title = "ViewChart";
}

<h2>ViewChart</h2>
@if (Model != null && Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Quentity</th>
                <th>Total Price</th>
                <th>User Id</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.ProductQuantity</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.UserId</td>
                    <td>
                        <a href="/Home/IncreaseChartItem/@item.ProductId" class="btn btn-primary">Increase</a>
                        <a href="/Home/DecreaseChartItem/@item.ProductId" class="btn btn-primary">Decrease</a>
                        <a href="/Home/DeleteChartItem/@item.ProductId" class="btn btn-primary">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<a href="/Home/OrderConfirm" class="btn btn-info">Order Confirm</a>*@
    <a href="/Home/OrderConfirm" class="btn btn-info" onclick="showAlert(event)">Order Confirm</a>
    <script>
        function showAlert(event) {
            event.preventDefault();

            Swal.fire({
                title: 'Are you sure ?',
                text: 'your orer is confirm now',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.assign('/Home/OrderConfirm');
                }
            });
        }
    </script>
}
else
{
    <h4>No items in the cart.</h4>
}
<a href="/Home/ProductView" class="btn btn-dark">Back</a>

