
@{
    ViewBag.Title = "distribute";
}

<a href="/Distributor/Index" class="btn btn-secondary">Back</a><br /><br />
<h2>Distribute</h2>
<hr />
@if (Model != null && Model.Count > 0)
{
    foreach (var foodCollectRequest in Model)
    {
        foreach (var processing in foodCollectRequest.Processings)
        {
            <div>
                <table class="table table-bordered">
                    <thead class="table-success">
                        <tr>
                            <th>Request ID</th>
                            <th>Packaging Type</th>
                            <th>Number of Packages</th>
                            <th>Food Description</th>
                            <th>Status Type</th>
                            <th>Distribute Area</th>
                            <th colspan=2>Decision</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>@foodCollectRequest.id</td>
                        <td>@foodCollectRequest.packagingType</td>
                        <td>@foodCollectRequest.numberofPackages</td>
                        <td>@foodCollectRequest.foodDescription</td>
                        <td>@foodCollectRequest.statusType</td>
                        <td>@processing.area</td>
                        <td>
                            <a href="/Distributor/distributecomplete/@foodCollectRequest.id" class="btn btn-info">Complete</a>
                        </td>
                        <td>
                            <a href="/Distributor/distributionCancel/@foodCollectRequest.id" class="btn btn-danger">Cancel</a>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <br />
    }

}
else
{
    <span class="text-danger">Food Not Available this Time</span>
}



